{% extends 'base.html' %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Configuracion</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="{{ url_for('static', filename='user.png') }}" alt="User Icon" width="64" height="64">
        </div>
        <h3 class="fs-2 text-body-emphasis">Usuarios</h3>
        <p>Ver, agregar y borrar usuarios.</p>
        <a href="{{ url_for('configuracion.usuarios')}}" class="icon-link">
          Ver usuarios
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="{{ url_for('static', filename='site.png') }}" alt="User Icon" width="64" height="64">
        </div>
        <h3 class="fs-2 text-body-emphasis">Estaciones propias</h3>
        <p>Ver, actualizar, agregar o borrar estaciones propias.</p>
        <a href="{{ url_for('configuracion.sitios')}}" class="icon-link">
          Ver estaciones
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="{{ url_for('static', filename='config.png') }}" alt="User Icon" width="64" height="64">
        </div>
        <h3 class="fs-2 text-body-emphasis">Competencia</h3>
        <p>Ver, actualizar, agregar y borrar estaciones competencia </p>
        <a href="{{ url_for('configuracion.usuarios')}}" class="icon-link">
          Ver competencia
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
{% endblock %}